html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
code {
  color: #c400ec;
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
  border: 1px solid rgb(234,234,234);
  width: 100%;
}
